/* CSS */

/* border line for  ObjectPageHeaderContent */
.myHeaderConent.sapUxAPObjectPageHeaderContent {
    position: relative;
    /* background-color: white; */
    padding: 0rem;
    border-bottom: 1px solid #d1e0ee;
}

.myTwoIconsMargin {
	margin-right: 5px;
}

.myFlexibleColumnLayout.sapFFCL {
	height: calc(100% - 108px);
}

.sapUiTableTreeIcon {
    text-align: start!important;
    align-self: start!important;
}

.ibsBoldFont{
    font-weight: bold!important;
}

.ibsBoldFontGrey{
    font-weight: bold!important;
    color: grey!important;
}

.ibsTextPaddingTopDown{
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
}

/*  for controls of buttons, whiche responsible for PhasedOut Checkbox  */
.myPhaseOutAcceptBtn>.sapMBtnTransparent>.sapMBtnIcon {
	color: rgb(43, 125, 43);
	font-size: 1.25rem;
	align-self: center;
    width: 2rem;
}

.myPhaseOutCancelBtn>.sapMBtnTransparent>.sapMBtnIcon {
	color: rgb(231, 140, 7);
	font-size: 1.25rem;
	align-self: center;
    width: 2rem;
}

.myPhaseOutErrorBtn>.sapMBtnTransparent>.sapMBtnIcon {
	color: rgb(255, 0, 0);
	font-size: 1.25rem;
	align-self: center;
    width: 2rem;
}

.myPhaseOutNeutralBtn>.sapMBtnTransparent>.sapMBtnIcon {
	color: rgb(1, 56, 1);
	font-size: 1.25rem;
	align-self: center;
    width: 2rem;
}


/*  colors for action buttons in wi=orklist */

.myErrorColorButton>.sapMBtnTransparent>.sapMBtnIcon {
	color: #bb0000;	
}

.myWarningColorButton>.sapMBtnTransparent>.sapMBtnIcon {
	color: #e78c07;	
}

.mySuccessColorButton>.sapMBtnTransparent>.sapMBtnIcon {
	color: #2b7d2b	
}

.vaillantObjectPage .sapFDynamicPageTitleMain>.sapFDynamicPageTitleMainInner .sapFDynamicPageTitleMainHeading {
    min-width: 0;
}

.vaillantStatusTable .sapMLabel {
  display: block;
  overflow: visible;
  overflow-wrap: break-word;
  word-wrap: break-word;
  text-overflow: inherit;
  white-space: inherit;
}


.ibsMasterDataSectionTitle .sapFDynamicPageTitleMain>.sapFDynamicPageTitleMainInner .sapFDynamicPageTitleMainHeading {
    min-width: 0px;
}

.ibsMasterDataSectionTitle .sapFDynamicPageTitleMain>.sapFDynamicPageTitleMainInner .sapFDynamicPageTitleMainContent {
    padding-left: 0rem;
}

.sapUiSizeCompact .sapUxAPObjectPageLayout .sapFDynamicPageToggleHeaderIndicator {
    bottom: 0rem!important;
}


